body {
    background-color:black;
}
header {
font-family: 'Creepster', cursive;
font-size: 28px;
 text-shadow: 0 0 10px #FF0000;;
color:#8E2A8D;
display: flex;
justify-content: center;
padding: 10px ;
}
